:root {
  font-family: "PT Serif", serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



@media only screen and (max-width: 768px)  {
  :root{
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px)  {
  :root{
    font-size: 8px;
  }
}



